.dashboard_sidenav_scaffold{
    transition:width 200ms;
}
.dashboard_sidenav_scaffold::-webkit-scrollbar {
    width:0;
}
/* .dashboard_sidenav_scaffold::-webkit-scrollbar-track {
  background-color: rgba(56, 106, 139, 1);
}
.dashboard_sidenav_scaffold::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 1px;
} */

.dashboard_nav_title{
    display:grid;
    grid-template-columns: 50px calc(100% - 50px);
    column-gap:5px;
    align-items:center;
    padding:0 40px 0 20px;
    cursor:pointer;
    height:100px;
}
.dashboard_nav_title.expand_nav{
    display:flex;
    padding:0 20px 0 20px;
}
.dashboard_nav_title h1{
    color:white;
    font-size:28px;
    font-weight:600;
}
.dashboard_nav_links > a, .dashboard_nav_links > div{
    display:grid;
    grid-template-columns: 50px calc(100% - 50px);
    column-gap:5px;
    align-items:center;
    padding:18px 40px 18px 24px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width:220px;
    cursor:pointer;
    margin-right:20px;
    margin-top:5px;
    margin-bottom:5px;
}
.dashboard_nav_links.expand_nav > a{
    padding:18px 18px 18px 24px;
    display:flex;
    max-width:80px;
    margin-right:0px;
}
.dashboard_nav_links.expand_nav > a span{
    display:none;
}
.dashboard_nav_links > a span{
    color:white;
}
.dashboard_nav_links > a:hover{
    background-color: white;
}
.dashboard_nav_links > a:hover span{
    color:rgba(56, 106, 139, 1);
}
.dashboard_nav_links > a:hover svg path{
    stroke:rgba(56, 106, 139, 1);
}